.displayCenter {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 90vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mycard{
    width: 100% !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.mybg{
    background-color: #c3d6df;
    color: black;
}